.container {
    display: flex;
    flex-grow: 1;
    background-color: aliceblue;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: blue;
    padding: 20px;
}

.text {
    color: white;
}
