body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "EuclidSquare", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum";
}

html {
    min-height: 100%;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --primary-color_0: #6ccbf4;
    --primary-color_1: #99daf6;
    --primary-color_2: #81d2f4;
    --primary-color_3: #58c5f5;
    --primary-color_4: #44c0f6;

    --secondary-color1_0: #72adf5;
    --secondary-color1_1: #9dc5f6;
    --secondary-color1_2: #86b8f5;
    --secondary-color1_3: #5ea3f5;
    --secondary-color1_4: #4b99f6;

    --secondary-color2_0: #66f4e5;
    --secondary-color2_1: #94f5eb;
    --secondary-color2_2: #7bf4e7;
    --secondary-color2_3: #51f4e3;
    --secondary-color2_4: #3cf5e2;

    --complement-color_0: #ffb96a;
    --complement-color_1: #ffcf9a;
    --complement-color_2: #ffc381;
    --complement-color_3: #ffae54;
    --complement-color_4: #ffa43e;

    --background-color_primary: white;
    --background-color_main: #f2f4f8;

    --gapSize-small: 5px;
    --gapSize-medium: 10px;
    --gapSize-large: 20px;

    --font_size-small: 12px;
    --font_size-medium: 16px;
    --font_size-large: 20px;
    --font_size_extraLarge: 24px;
    --font_size_extraExtraLarge: 35px;

    --font_weight_normal: normal;
    --font_weight_halfBold: 500;
    --font_weight_bold: bold;

    --borderRadius-small: 10px;
    --borderRadius-medium: 23px;
    --borderRadius-large: 30px;
    --borderRadius-circle: 999999px;
}
